:root {
    --branco: #FFFFFF;
    --cafe: #3B210F;
    --black: #040200;
    --marromC: #473E38;
    --chumbo: #2F2F31;
    --azulB: #02040E;
    --amarelo: #F0AE44;
    --nightC: #0E0D0F;


    --font1: 'Righteous', cursive;
    --font2: 'Titillium Web', sans-serif;
}


.container_annunciment_bar{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: var(--branco);
    padding: 25px;

    
}

.logo{
    width: 125px;
    height: 115px;
    background-color: var(--black);
    padding: 5px;
    
    
}

.header_nav{
    display: flex;
    width: 100%;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 2px var(--amarelo);
    
    
}

.header_nav nav{
    display: flex;
    width: 40%;
    height: 15vh;
    background-color: var(--black);
    justify-content: space-around;
    align-items: center;


}

.header_nav a{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--black);
    font-family: var(--fontCafe);
    text-transform: capitalize;
}

.icon {
    width: 10%;
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
}

.icon svg {
    width: 20px;
    fill: var(--branco);
    display: flex;
    justify-content: end;
}

.icon path{
    display: flex;
    justify-content: end;
    
}


  
