main h1 {
    display: flex;
    justify-content: center;
    padding: 5% 0% 0% 0%;
    color: var(--branco);
    font-family: var(--fontCafe);
}


.form form{
    display: flex;
    padding: 10%;
    flex-direction: column;
    align-items: center;
}


.form form input{
    width: 200px;
    padding: 5px;
    margin: 5px;
    color: rgb(255, 255, 255);

      
}

button{
    background-color: var(--amarelo);
    color: var(--balck);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}