.container_header{
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  color: var(--branco);
  font-family: var(--fontCafe);
  }

  .tabela_ul{
    width: 90%;
  }

 .template_produto{
  display: flex;
  justify-content: space-between;
  
 }

 .template_paragrafo{
  color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
 }